@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #0d0d0d;
    --background-secondary: #fff;
    @apply selection:bg-primary-400 selection:text-neutral-900;
  }
  #__next {
    @apply h-full;
  }
  body {
    @apply pt-32 text-lg;
    background-image: -webkit-repeating-radial-gradient(
      center center,
      var(--background-primary),
      var(--background-primary) 1px,
      var(--background-secondary) 1px,
      var(--background-secondary) 100%
    );
    background-size: 8px 8px;
  }
}

@layer components {
  .container {
    width: 95%;
    margin-inline: auto;
    max-width: 800px;
  }
  .custom-link {
    @apply border-b-2 font-semibold hover:border-b-4;
  }
  #site-header-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #site-header-container > * + * {
    margin-top: 0.5em;
  }
  @media all and (min-width: 1300px) {
    #site-header-container {
      padding: 0;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
    }
    #site-header-container > * + * {
      margin-top: 0;
      border-left: 4px solid;
    }
  }
}
