@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #0d0d0d;
    --background-secondary: #fff;
    @apply selection:bg-primary-400 selection:text-neutral-800;
  }
  #__next {
    @apply h-full;
  }
  body {
    @apply lg:pt-32;
    background-image: -webkit-repeating-radial-gradient(
      center center,
      var(--background-primary),
      var(--background-primary) 1px,
      var(--background-secondary) 1px,
      var(--background-secondary) 100%
    );
    background-size: 8px 8px;
  }
}

@layer components {
  .container {
    width: 95%;
    margin-inline: auto;
    max-width: 860px;
  }
  .custom-link {
    @apply border-b-2 font-semibold hover:border-b-4;
  }
}
